services:
  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "8050:8050"